* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Onest';
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}