.wrapper-blocks {
  display: flex;

  @include breakpoint (smallDesktop) {
    flex-wrap: wrap;
    padding-bottom: 40px;
  }
}

.data-blocks {
  width: calc((100% / 4) * 3 - 24px);
  margin-right: 24px;

  @include breakpoint (smallDesktop) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .block-item {
    background-color: #ffffff;
    box-shadow: 0px 4px 36px 0px rgba(133, 160, 255, 0.20);
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.block-item {
  padding: 24px;
  border-radius: 24px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 11px;
  }

  &__title {
    color: #252634;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
  }

  &__value {
    font-size: 40px;
    font-weight: 700;

    @include breakpoint (tablet) {
      font-size: 20px;
    }
  }

  &.col-1 {
    width: calc((100% / 3) - 24px);

    @include breakpoint (smallDesktop) {
      width: calc((100% / 2) - 24px);
    }

    @include breakpoint (tablet) {
      width: 100%;
    }
  }

  &.col-2 {
    width: calc(((100% / 3) * 2) - 24px);

    @include breakpoint (smallDesktop) {
      width: calc(100% - 24px);
    }

    .block-item__header {
      align-items: flex-end;
    }

    .block-item__value {
      margin-left: 20px;
      margin-right: auto;
      line-height: 0.9;
    }
  }

  &.full-width {
    width: 100%;

    .block-item__header {
      margin-bottom: 50px;
    }
  }

  &__percent {
    display: flex;
    align-items: center;
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 14px;

    &::before {
      content: "";
      height: 17px;
      width: 12px;
      margin-right: 4px;
      background-repeat: no-repeat;
      background-size: 12px 16px;
    }

    &_positive {
      color: #009F9D;
      background-color: #CDFAE4;

      &::before {
        background-image: url(../../public/images/icons/icon-positive.svg);
      }
    }

    &_negative {
      color: #FF527B;
      background-color: #FFEAEC;

      &::before {
        background-image: url(../../public/images/icons/icon-negative.svg);
      }
    }
  }

  &_total-revenue {
    @include breakpoint (smallDesktop) {
      order: 0;
    }
  }

  &_total-orders {
    @include breakpoint (smallDesktop) {
      order: 1;
    }
  }

  &_abandoned-carts {
    @include breakpoint (smallDesktop) {
      order: 2;
    }
  }

  &_total-visitors {
    @include breakpoint (smallDesktop) {
      order: 4;
    }
  }

  &_traffic-source {
    @include breakpoint (smallDesktop) {
      order: 3;
    }
  }

  &_latest-orders {
    @include breakpoint (smallDesktop) {
      order: 5;
    }
  }
}

.orders {
  font-size: 16px;

  &__header {
    font-weight: 700;
    margin-bottom: 16px;

    .orders__status {
      padding: 0;
      text-align: left;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #CCD2E3;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__col {
    width: calc(100% / 4);

    @include breakpoint (tablet) {
      width: calc(100% / 3);
    }
  }

  &__id {
    @include breakpoint (laptop) {
      display: none;
    }
  }

  &__date {
    @include breakpoint (laptop) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__status {
    width: 90px;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;

    &_new {
      color: #009F9D;
      background-color: #CDFAE4;
    }

    &_delivery {
      color: #5C6DFF;
      background-color: #DFF0FF;
    }

    &_on-hold {
      color: #D77C8D;
      background-color: #FFEAEC;
      ;
    }
  }
}

.blocks-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;

  .block-item {
    margin-left: 12px;
    margin-right: 12px;
  }
}

.maked-orders {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    background-color: #85A0FF;
    border-radius: 4px;
    margin-right: 4px;
  }
}

.currency-wrapper {
  width: calc(100% / 4);
  background-color: #EAE8FF;

  @include breakpoint (smallDesktop) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.currency-block {
  margin-top: 22px;
  margin-bottom: 44px;
  padding-top: 22px;
  padding-bottom: 44px;
  border-top: 1px solid #CCD2E3;
  border-bottom: 1px solid #CCD2E3;

  @include breakpoint (smallDesktop) {
    width: calc(50%);
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid #CCD2E3;
    padding-right: 80px;
  }

  @include breakpoint (laptop) {
    padding-right: 30px;
  }

  @include breakpoint (tablet) {
    width: 100%;
    border-top: 1px solid #CCD2E3;
    border-bottom: 1px solid #CCD2E3;
    border-right: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-right: 0;
  }

  .block-item__header {
    margin-bottom: 30px;
  }

  .currency__name {
    margin-bottom: 4px;
  }
}

.crypto-block {

  @include breakpoint (smallDesktop) {
    width: 50%;
    padding-left: 80px;
  }

  @include breakpoint (laptop) {
    padding-left: 30px;
  }

  @include breakpoint (tablet) {
    width: 100%;
    padding-left: 0;
  }

  .block-item__header {
    margin-bottom: 30px;
  }

  .currency__name {
    margin-bottom: 2px;
  }
}

.currency {
  &__header {
    margin-bottom: 30px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 20px;
  }

  &__icon {
    width: 40px;
    margin-right: 18px;
  }

  &__title {
    margin-right: auto;
  }

  &__name {
    font-weight: 700;
    margin-bottom: 2px;
  }

  &__value {
    font-weight: 700;
    text-transform: uppercase;
    color: #252634;
    margin-bottom: 4px;
  }

  &__desc {
    color: #797D95;
  }

  &__convert-value {
    font-weight: 700;
    color: #252634;
  }
}

.traffic {
  &__row {
    margin-bottom: 13px;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #797D95;
    font-size: 14px;
    margin-bottom: 8px;
  }

  &__line {
    height: 8px;
    border-radius: 4px;
  }

  &__line-value {
    height: 100%;
    border-radius: 4px;
  }
}