.btn-icon {
  flex-shrink: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  padding: 0;
}

.btn-filter {
  width: 24px;
  height: 24px;
  background-image: url(../../public/images/icons/icon-filter.svg);
}

.sidebar {
  &__control {
    display: flex;
    align-items: center;
    background: transparent;
    padding: 0;
    border: none;
    color: #CCD2E3;
    font-size: 16px;
    transform-origin: center;

    @include breakpoint (mobile) {
      display: none;
    }

    &::before {
      content: "";
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      margin-right: 12px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url(../../public/images/icons/icon-minimize.svg);
    }
  }
}

.btn-calendar {
  display: flex;
  align-items: center;
  color: #797D95;
  font-size: 16px;
  margin-right: 70px;

  @include breakpoint (smallDesktop) {
    margin-right: auto;
  }

  &::before {
    content: "";
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../public/images/icons/icon-calendar.svg);
    margin-right: 7px;
  }

  &::after {
    content: "";
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../public/images/icons/icon-arrow-down.svg);
    margin-left: 4px;
  }
}

.btn-notification {
  position: relative;
  width: 24px;
  height: 24px;
  background-image: url(../../public/images/icons/icon-bell.svg);
  margin-right: 20px;

  &.has-notification {
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 1px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: 2px solid #F7F6FF;
      background-color: #FF527B;
    }
  }
}

.btn-chat {
  position: relative;
  width: 24px;
  height: 24px;
  background-image: url(../../public/images/icons/icon-chat.svg);
  margin-right: 36px;

  @include breakpoint (mobile) {
    margin-right: 0;
  }

  &.has-message {
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: 2px solid #F7F6FF;
      background-color: #FF527B;
    }
  }
}