@font-face {
	font-family: 'Onest';
	src: url('../assets/fonts/OnestRegular1602-hint.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Onest';
	src: url('../assets/fonts/OnestBold1602-hint.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
