.page__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 30px;

  @include breakpoint (smallDesktop) {
    flex-wrap: wrap;
  }
}

.header-nav {
  display: flex;
  align-items: center;

  @include breakpoint (smallDesktop) {
    width: 100%;
  }

  @include breakpoint (mobile) {
    flex-wrap: wrap;
  }
}

.user {
  display: flex;
  align-items: center;
  color: #797D95;
  font-size: 16px;

  @include breakpoint (mobile) {
    width: 100%;
    margin-top: 20px;
  }

  &__icon {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
    flex-shrink: 0;
    background-color: #ECE0FF;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &::after {
    content: "";
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../public/images/icons/icon-arrow-down.svg);
    margin-left: 4px;
  }
}