.page {
  background-color: #F7F6FF;
  padding-right: 108px;

  @include breakpoint (smallDesktop) {
    padding-right: 40px;
  }

  @include breakpoint (mobile) {
    padding-right: 20px;
  }

  &__inner {
    display: flex;
    min-height: 100vh;
  }

  &__content {
    transition: width 0.3s ease;
    width: calc(100% - 388px);
    padding-top: 57px;

    @include breakpoint (smallDesktop) {
      width: calc(100% - 298px);
    }

    @include breakpoint (mobile) {
      width: calc(100% - 110px);
      padding-top: 10px;
    }
  }

  &__title {
    margin-bottom: 0;

    @include breakpoint (smallDesktop) {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  &.sidebare-minimize {
    .page__content {
      width: calc(100% - 90px);
    }

    .sidebar {
      width: 90px;
      padding: 65px 19px 32px 22px;
      align-items: center;
    }

    .logo__icon {
      margin-right: 0;
    }

    .logo__text {
      display: none;
    }

    .nav__item,
    .sidebar__control {
      font-size: 0;

      &::before {
        margin-right: 0;
      }
    }

    .sidebar__control {
      transform: scale(-1, 1);
    }
  }
}