.sidebar {
  display: flex;
  flex-direction: column;
  width: 340px;
  background-color: #252634;
  padding: 65px 67px 32px 82px;
  margin-right: 48px;
  transition: width 0.3s ease, padding 0.3s ease;

  @include breakpoint (smallDesktop) {
    width: 250px;
    padding: 65px 30px 32px 30px;
  }

  @include breakpoint (mobile) {
    padding-top: 20px;
    width: 90px;
  }

  @include breakpoint (mobile) {
    padding-left: 7px;
    padding-right: 7px;
    margin-right: 20px;
  }
}

.logo {
  margin-bottom: 34px;

  a {
    display: flex;
    align-items: center;

    @include breakpoint (mobile) {
      flex-direction: column;
    }
  }

  &__icon {
    margin-right: 12px;

    @include breakpoint (mobile) {
      margin-bottom: 10px;
    }
  }
}

.nav {
  margin-bottom: auto;

  &__item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    margin-bottom: 12px;
    border-radius: 4px;
    text-decoration: none;
    color: #CCD2E3;
    font-size: 16px;
    transition: font-size 0.3s ease, background-color 1s ease;

    @include breakpoint (mobile) {
      flex-direction: column;
      font-size: 12px;
    }

    &:hover {
      background-color: #403E4A;
    }

    &.active {
      background-color: #403E4A;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      margin-right: 12px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      @include breakpoint (mobile) {
        margin-right: 0;
        margin-bottom: 5px;
      }
    }

    &_dashboard {
      &::before {
        background-image: url(../../public/images/icons/icon-dashboard.svg);
      }
    }

    &_orders {
      &::before {
        background-image: url(../../public/images/icons/icon-order.svg);
      }
    }

    &_products {
      &::before {
        background-image: url(../../public/images/icons/icon-products.svg);
      }
    }

    &_team {
      &::before {
        background-image: url(../../public/images/icons/icon-team.svg);
      }
    }

    &_settings {
      &::before {
        background-image: url(../../public/images/icons/icon-settings.svg);
      }
    }
  }
}